:root {
    --primary-color: #000000;
    --secondary-color: #333333;
    --thirdiary-color: #cccccc;

    --heading-font: 'Open Sans';
    --paragraph-font: 'Open Sans';

    --primary-font-color: #000000;
    --secondary-font-color: #7b7b7b;
    --thirdiary-font-color: #4c4c4c;
    --default-font-color: #ffffff;

    --main-color: #207888;
}

* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--secondary-color);
}

body {
    padding: 0 2rem;
    margin: 0;
}

.centered {
    text-align: center;
}

/* Header */
header {
    background-color: var(--header-back-color);
    align-items: center;
    padding: 0;
    margin: 0;
    grid-row: 1/2;
    grid-column: 1/3;
}

header h1 {
    background: var(--main-color);
    color: var(--default-font-color);
    padding: 2rem 2rem 1rem 2rem;
    order: 1;
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

header h2 {
    background: var(--main-color);
    color: var(--default-font-color);
    padding: 0 2rem 2rem 2rem;
    order: 1;
    font-size: 1rem;
    margin: 0;
}

/* Nav */

.navigation {
    background-color: var(--primary-color);
    list-style: none;
    margin: 0 auto;
    padding: 0; 
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    color: var(--default-font-color);
    padding: 1.2rem;
    font-weight: 700;
    font-size: clamp(1rem, 2vmin, 1.5rem);
    text-align: right;
    text-decoration: none;
    transition: 0.5s;
}

.navigation a:hover {
    background-color: var(--thirdiary-font-color);
    color: var(--thirdiary-color);
}

/* small view navigation */
#menu {
    display: block;
    background-color: var(--primary-color);
    color: var(--default-font-color);
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    text-align: right;
    padding: 0 1rem 0 0;
    cursor: pointer;
}

#menu::before {
    content: "☰";
}

#menu.show::before {
    content: "X";
}

.show li {
    display: block;
}

/* MAIN */

main {
    padding: 1rem;
}

main h3 {
    text-decoration: underline;
    font-weight: bold;
}

.main-question {
    font-weight: bold;
}

.main-color {
    position: relative;
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    color: var(--default-font-color);
    border: 1px solid #000;
    padding: 0 1rem;
}

.main-color-sec {
    position: relative;
    width: 12px;
    height: 12px;
    background-color: var(--secondary-color);
    color: var(--default-font-color);
    border: 1px solid #000;
    padding: 0 1rem;
}

.main-picture {
    display: flex;
    justify-content: center;
}

.main-content .button {
    width: 100%;
    background-color: var(--main-color);
    color: var(--default-font-color);
    border-radius: 10px;
    padding: .5rem;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
}

.main-content .button:hover {
    background-color: var(--secondary-color);
}

/* Dashboard Image */
.hero-image {
    position: relative;
    text-align: center;
}

.hero-image h2 {
    position: absolute;
    width: 100%;
    top: 25%;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
}

.hero-image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/* SERVICES */

.services-section h2{
    grid-column: 1/3;
    text-align: center;
}

.services-filter {
    display: flex;
    justify-content: space-around;
}

.services-filter p{
    background: var(--main-color);
    padding: .3rem 1rem;
    color: #fff;
    width: 100px;
    text-align: center;
    cursor: pointer;
}

.services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 2rem;
    place-items: center;
}

.service {
    min-width: 350px;
    min-height: 180px;
    grid-gap: .5rem;
    background: #EFEFEF;
    padding: 1rem;
    border: 1px solid #E2E2E2;
}

.service-title {
    font-size: 1rem;
    font-weight: bold;
}

.service-element{
    padding: 0.2rem 0;
    margin: 0;
    text-align: center;
}

.service-data {
    font-variant: small-caps;
}

.service-desc {
    padding-left: 3px;
}

.service-img img {
    width: auto;
    max-width: 350px;
    height: auto;
    box-shadow: 1px 1px 5px var(--primary-font-color);
}

/* DIALOG */

.services .service-link {
    width: 100%;
    padding: .5rem;
    font-size: 1rem;
    font-weight: bold;

    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    margin: 1rem 0;
    min-width: 150px;
    grid-area: button;
}

.services .service-link:hover {
    text-decoration: none;
    color: var(--default-font-color);
    background-color: var(--main-color);
    cursor: pointer;
}

.services dialog {
    border: 1pc solid rgb(0 0 0 / 0.1);
    border-radius: .25rem;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0 3rem #777;
    width: 90%;
    max-width: 600px;
}

.services ::backdrop {
    background-color: rgb(0 0 0 / 0.5);
}

.services dialog button {
    max-width: 60px;
    position: absolute;
    top: 35px;
    right: 23px;
    padding: .5rem 1rem;
    border: 1px solid rgb(0 0 0 / 0.1);
}

.services .services-close:hover {
    cursor: pointer;
}



/* CONTACT FORM */
.contact{
    display: grid;
    align-items: center;
    justify-items: center;
}

.contact h2{
    text-align: center;
}

.contact-content iframe {
    width: 100%;
    min-width: 400px;
    width: 80%;
    min-height: 300px;
    border: 0;
}


form {
    background-color: var(--thirdiary-color);
    padding: .5rem;
    border-radius: .5rem;
    max-width: 400px;
}

.form-element{
    display: grid;
    grid-template-rows: auto 1fr;
    padding: .7rem;
}

.form-element .title-label{
    font-weight: bold;
    padding-bottom: .3rem;
}

.form-radio{
    display: grid;
    width: 100%;
    justify-content: space-around;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.radio-item{
    display: grid;
    text-align:center;
}

.check-apply{
    font-style: italic;
}

.optional{
    font-weight: normal;
    color: var(--thirdiary-font-color);
}
/* Form elements */
form select {
    padding: .3rem .1rem;
    border-color: transparent;
}

form input {
    padding: .3rem .1rem;
    border-color: transparent;
}

form input[type="radio"]{
    transform: scale(1.5);
}

form input[type="checkbox"]{
    transform: scale(1.5);
    border-radius: 0;
}

form textarea {
    padding: .3rem .1rem;
    border-color: transparent;
    min-height: 100px;
}

form button {
    width: 100%;
    padding: .5rem;
    font-size: 1rem;
    font-weight: bold;
}

/* About */

.about-me {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 1rem;
    justify-items: center;
    align-items: center;
}

.about-me .left-section {
    grid-column: 1/2;
    padding: 1rem;
    text-align: justify;
    text-justify: inter-word;
}

.about-me h2 {
    grid-column: 1/3;
    text-align: center;
}

.about-me .righ-section {
    grid-column: 2/3;
    padding: 1rem;
}

.about-me img {
    height: 200px;
    width: auto;
}


/* FOOTER */

footer {
    background: var(--secondary-color);
    grid-row: 3/4;
    grid-column: 1/3;
    padding: 1rem;
}

footer P {
    color: var(--default-font-color);
    order: 1;
    font-size: 1rem;
    text-align: center;
}

footer span {
    color: var(--default-font-color);
}