@media screen and (min-width: 800px){
    body {
        padding: 0 15% 0 15%;
        margin: 0;
    }
    /* ************************************ */
    .navigation {
		display: flex;
        justify-content: flex-end;
    }
	.navigation li {
		display: block; /* change state in small view */
		flex: 0 0 auto;
	}
	.navigation a {
		text-align: center;
	}
    .navbar {
        grid-row: 2/3;
    }
	#menu {
		display: none;
	}
    /* ************************************ */
    .home{
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 2fr 1fr 1fr;
    }
    .business{
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto auto auto;
    }
    /* ************************************ */
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}