@media screen and (min-width: 641px) and (max-width: 1023px) {
    .gridPlaces .places-section{
        grid-template-areas:
        "photograph name"
        "photograph description"
        "photograph location"
        "photograph button";
    }
    .gridPlaces .places-section figure img{
        width: 100%;
        border-radius: 10px 0 0 0;
    }
    .gridPlaces .places-section p{
        padding: 0 1rem;
    }
    .gridPlaces .places-section figure img:hover{
        width: 110%;
        z-index: 99;
        transition: width 0.5s;
    }
}